@charset 'UTF-8';

@import url(https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap);
/* FONTE Plus Jakarta Sans */

@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css');

@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
/* PLAY - CAIXA VIAJANTE */

@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-straight/css/uicons-bold-straight.css');
/* LOCALIZAÇÃO - CAIXA MAPA */

@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-straight/css/uicons-bold-straight.css');
/* CORAÇÃO - CAIXA MAPA */

@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-straight/css/uicons-bold-straight.css');
/* PESSOAS - CAIXA MAPA */

@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-straight/css/uicons-solid-straight.css');
/* ESTRELA - CAIXA DEPOIMENTO */

:root{
    --Texto_escuro: #14183E;
    --Azul: #4372EB;
    --Cinza_claro: #9A9EA6;
}

span{
    color: var(--Azul);
}

body{
    font-family: 'Plus Jakarta Sans';
}

*{
    padding: 0;
    margin: 0;
}

.medida_caixaGaleria{
    height: 1000px;
    width: 100%;
    border: 1px solid var(--Texto_escuro);
}

.titulo-destinos{
    margin-top: 100px;
    margin-bottom: 40px;
    border: 1px solid red;
}

.titulo-destinos h1{
    font-size:30px;
    margin-left: 90px;
    margin-bottom: 10px;
    color: var(--Texto_escuro);
}

.titulo-destinos h4{
    font-size:15px;
    margin-left: 90px;
    margin-bottom: 10px;
}