header{
    display: flex;
     align-items: center;
    justify-content: space-around;
    border-bottom:  1px solid var(--cinzaClaro);
    height: 140px;

    img{
        scale: 0.9;
    }

    #icone-perfil{
        width: 55px;
        height: 55px;
        border-radius: 100%;
        border: 2px solid var(--textoEscuro);
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--azul);
        font-size: 20px;
    } 


}