@import url(arquivos/img);

/* Cabeçalho do celular */
#cabecalho_Celular{
    border-bottom: 2px rgba(245, 239, 239, 0.76) solid;
    width: 100%;
    height: 100px;
    display: none;
}

#logo_topo_celular{
    width: 190px;
    height: 70px;
    background-image: url(img/logomarca\ \(1\).png);
    background-size: cover;
}
#icone_celular{
    width: 50px;
    height: 50px;
    background-color: rgba(245, 239, 239, 0.76);
    border-radius: 25px;
    border: 1px solid var(--Cinza_claro);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: var(--Azul);
}

/*  */


/* FIM ESTILO DIV CAIXA RESERVA */

/* ESTILO CAIXA MAPA */

#titulo_caixaMapa{
    text-align: center;
    margin-top: 40px;
}

#titulo_caixaMapa > h1{
    font-size:50px;
    color: var(--Texto_escuro);
    margin-bottom: 10px;
    margin-top: 10px;
}

#imagem_caixaMapa{
    width: 1100px;
    height: 400px;
    background-image: url(img/mapa.png);
    background-size: cover;
    margin: auto;
    margin-top: 50px;
}

/* FIM ESTILO CAIXA MAPA */


/* ESTILO CAIXA ICONE CAIXA MAPA */

#icones_caixaMapa{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.icone{
    width: 60px;
    height: 60px;
    border-radius: 20px;
    background-color: var(--Cinza_claro);
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: black;
}

#iconeLocalizacao_caixaMapa, #iconeCoracao_caixaMapa, #iconePessoas_caixaMapa{
    display: flex;
}


/* FIM ESTILO CAIXA ICONE CAIXA MAPA */


/* ESTILO CAIXA GALERIA */

#titulo_caixaGaleria{
    width: 100%;
}


#titulo_caixaGaleria h4{
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: 90px;
    font-size: 15px;
}

#titulo_caixaGaleria > h1{
    color: var(--Texto_escuro); 
    margin-left: 90px;
    font-size:30px;
}

#imagens_caixaGaleria{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 490px;
    margin: auto;
}

#foto_01{
    width: 300px;
    height: 400px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(126, 126, 126, 0.61);
}

#imagem_foto_01{
    width: 100%;
    height: 50%;
    border-radius: 20px 20px 0px 0px;
    background-image: url(img/destino4.png);
    background-size: cover;
}

#texto_foto_01 p:nth-of-type(1), p:nth-of-type(3){
    color: var(--Cinza_claro);
}

#texto_foto_01 p:nth-of-type(2){
    color: var(--Texto_escuro);
}

#texto_foto_01 p{
    margin-top: 12px;
    margin-left: 12px;
    margin-right: 12px;
}

#video_caixaGaleria{
    width: 800px;
    height: 400px;
    box-shadow: 0px 0px 15px rgba(126, 126, 126, 0.61);
    border-radius: 20px;
    background-image: url(img/video.png);
    background-size: cover;
}

#fim_caixaGaleria{
    width: 90%;
    height: 300px;
    margin: auto;
    background-image: url(img/destino5.png);
    border-radius: 10px;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 25px rgba(126, 126, 126, 0.61);
}

#texto_fim_caixaGaleria{
    text-align: left;
    margin-left: 20px;
}

#texto_fim_caixaGaleria p:nth-of-type(1){
    font-size: 25px;
    margin-bottom: 10px;
}

/* FIM ESTILO CAIXA GALERIA */


/* ESTILO CAIXA DEPOIMENTO */

#titulo_caixaDepoimento{
    text-align: center;
    margin-top: 40px;
}

#titulo_caixaDepoimento h1{
    font-size:50px;
    color: var(--Texto_escuro);
    margin-bottom: 10px;
    margin-top: 10px;
}

#feedback_caixaDepoimentos{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid rgb(0, 0, 0); */
}

.quadro_Depoimentos{
    width: 350px;
    height: 400px;
    box-shadow: 0px 0px 30px  rgba(196, 194, 194, 0.61);
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 25px;
}

#imagem_01{
    background-image: url(img/avatar1.png);
    background-size: cover;
}

#imagem_02{
    background-image: url(img/avatar2.png);
    background-size: cover;
}

#imagem_03{
    background-image: url(img/avatar3.png);
    background-size: cover;
}

.circulo_Depoimentos{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin-top: 25px;
}

.estrela{
    color:rgb(211, 175, 15);
    font-size: 25px ;
}


/* FIM ESTILO CAIXA DEPOIMENTO */


/* ESTILO ULTIMA CAIXA */


#ultimaCaixa{
    width: 50%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#conteudoInterno_ultimaCaixa{
    width: fit-content;
    height: fit-content;

}


#conteudoInterno_ultimaCaixa > p{
    color: var(--Cinza_claro);
    font-size: 17px;
}

footer{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--Cinza_claro);
    font-weight: 500;
    
}


/* FIM ESTILO ULTIMA CAIXA */

