*{
    margin: 0;
    padding: 0;
}


@media screen and (max-width: 650px) {
   header{
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-bottom: 1px solid red;
        height: 100px;
    }

    header img{
        scale: 0.8;
    }

    #icone-perfil{
        width: 50px;
        height: 50px;
        border-radius: 25px;
        border: 1px solid red;
    } 

    #secao-imagemViajante{
        width: 100%;
        height: 100vh;
        border: 1px solid red;
    }

    #imagem-viajante{
        border: 1px solid red;
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #imagem-viajante img{
        margin: 30px 0 0 0;
        scale: 0.5;
    }

    #texto-secao-imagemViajante{
        width: 100%;
        height: 40%;
        border: 1px solid red;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #texto-secao-imagemViajante p {
        border: 1px solid red;
        width: 80%;
    }

    #botao-iconeSeta{
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border: 1px solid red;
    }

    #botao-iconeSeta div{
        display: flex;
        align-items: center;
    }

    #botao-iconeSeta button{
        padding: 10px;
    }

    #seta{
        width: 40px;
        height: 40px;
        border: 1px solid red;
        border-radius: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 10px 0 0 ;
    }

    /* ---------- */

    #secao-logos{
        width: 100%;
        height: 60vh;
        border: 1px solid red;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
    }

    #secao-logos div{
        width: 200px;
        height: 100px;
        /* border: 1px solid red; */

    }

    #secao-logos img{
        scale: 0.7;
    }

    /* ----------- */

    #secao-imagensLocais{
        width: 100%;
        height: 190vh;
        border: 1px solid red;
    }

    #imagens-locais{
        border: 1px solid red;
        width: 100%;
        height: 90%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .local{
        width: 250px;
        height: 280px;
        border: 1px solid red;
        display: flex;
        align-items: end;
    }

    .nome-local{
        width: 140px;
        height: 70px;
        background-color: rgba(207, 203, 203, 0.932);
        border-radius: 0 10px 0 0;
       
    }

    #local-01{
        background-image: url(img/destino2.png);
        background-size: cover;
    }
    #local-02{
        background-image: url(img/destino1.png);
        background-size: cover;
    }
    #local-03{
        background-image: url(img/destino5.png);
        background-size: cover;
    }
    #local-04{
        background-image: url(img/destino4.png);
        background-size: cover;
    }

    .nome-local h4{
        margin: 6px 0 0 10px;
        font-weight: bold;
    }

    .nome-local p{
        margin: 5px 0 0 10px;
    }

    /* --------- */

    #secao-reservas{
        width: 100%;
        height: 120vh;
        border: 1px solid red;
    }

    .icone-frase{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border: 1px solid red;
        height: 140px;
    }

    .icone{
        border: 1px solid red;
        width: 50px;
        height: 50px;
    }

    .frase{
        border: 1px solid red;
        width: 70%;
    }

    .frase span{
        border: 1px solid red;
        font-weight: bold;
    }

    #imagem-secao-reserva{
        border: 1px solid red;
        width: 100%;
        height: 400px;
        background-image: url(img/reserva.png);
        background-size: cover;
    }

}
